.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.DS_Store
.AppleDouble
.trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
._*
$RECYCLE.BIN/
$recycle.bin
